/* -------------------------------------------
	Sidebars
		- Base
		- Sidebar Elements
		- Right Sidebar
		- Fixed Sidebar
		- Widget Styles
		- Blog Sidebar
------------------------------------------- */

// Sidebar Base
.top-sidebar-active .top-sidebar,
.left-sidebar-active .left-sidebar,
.right-sidebar-active .right-sidebar {
	.sidebar-overlay,
	.sidebar-close {
		visibility: visible;
		opacity: 1;
	}
	.sidebar-content {
		transform: translateX(0);
		opacity: 1;
	}
}

// Sidebar Elements
.sidebar-close {
	position: fixed;
	top: 25px;
	left: calc(100vw - 50px);
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
	z-index: 1069;
}
.sidebar-overlay, .sidebar-toggle, .sidebar-content {
	position: fixed;
	top: 0;
	left: 0;
}
.sidebar-overlay {
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.8);
	opacity: 0;
	visibility: hidden;
	transition: visibility .4s, opacity .4s;
	z-index: 1069;
}

.sidebar-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 160px;
	width: 40px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	font-size: 1.4rem;
	color: #fff;
	background-color: #222;
	opacity: .6;
	z-index: 1060;
	&:hover {
		opacity: .8;
		color: #fff;
	}
}

.sidebar-fixed {
	&.left-sidebar {
		max-width: var(--alpha-left-sidebar-width, 33.5rem);
		flex: 0 0 var(--alpha-left-sidebar-width, 33.5rem);
	}
	&.right-sidebar {
		max-width: var(--alpha-right-sidebar-width, 33.5rem);
		flex: 0 0 var(--alpha-right-sidebar-width, 33.5rem);
	}
}

.sidebar-content {
	.left-sidebar & {
		width: var(--alpha-left-sidebar-width, 33.5rem);
	}
	.right-sidebar & {
		width: var(--alpha-right-sidebar-width, 33.5rem);
	}
	bottom: 0;
	padding: 2rem;
	transform: translateX(-100%);
	overflow: auto;
	opacity: 0;
	line-height: 1.3;
	transition: transform .4s, opacity .4s;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
	color: #999;

	.sidebar-offcanvas & {
		z-index: 1070;
		background: #fff;
	}

	.sidebar-overlay ~ & {
		box-shadow: none;
	}

	.sidebar-close {
		display: flex;
		position: static;
		align-items: center;
		margin-bottom: 2rem;
		text-transform: uppercase;
		line-height: 1;
	}

	.close-icon {
		width: 1.6rem;
		height: 1.6rem;
		margin-#{$right}: .6rem;

		&::before,
		&::after {
			background: var(--alpha-body-color, $body-color);
		}
	}

	p {
		line-height: 1.6;
		color: var(--alpha-body-color, $body-color);
	}
}
@include mq(lg, 'max') {
	.sidebar-content {
		background: #fff;
	}
}
.rtl {
	.left-sidebar {
		order: 2;
	}
	.right-sidebar {
		order: initial;
	}
}

// Right Sidebar
.right-sidebar {
	margin-left: auto;
	order: 2;

	.sidebar-toggle {
		left: auto;
		right: 0;
	}
	.sidebar-close {
		left: 3rem;
	}
	.sidebar-content {
		transform: translateX(100%);
		left: auto;
		right: 0;
	}
}

@include mq(lg) {
	.sidebar-fixed .sidebar-toggle {
		display: none;
	}
	// Fixed Sidebar
	.sidebar-fixed {
		.sidebar-overlay {
			display: none;
		}
		.sidebar-content {
			position: relative;
			overflow: visible;
			padding: 0;
			opacity: 1;
		}
		.sidebar-content {
			width: auto;
			transform: none;
		}
	}
}

@include mq(lg, max) {
	.sidebar-content {
		z-index: 1070;
	}
}

.sidebar-content {
	a:not(.btn) {
		color: var(--alpha-dim-color, $dim-color);
		&:hover,
		&:focus {
			color: var(--alpha-primary-color, $primary-color);
		}
	}

	a.btn-product-icon,
	.btn-product-icon a {
		color: var(--alpha-dim-color, $dim-color);
		&:hover {
			color: #ededed;
		}
	}
}

.sidebar {
	.widget_search:not(.widget-collapsible) {
		margin-bottom: 2.5rem;

		.search-wrapper {
			width: 100%;
		}
	}

	.search-wrapper .form-control {
		min-height: 4.7rem;
	}

	.widget-title {
		&.collapsed {
			margin-bottom: 0; // Origin 5px ???
		}
	}

	.widget {
		> :not(.widget-title) {
				transition: opacity .3s;
			}
		> .slider-wrapper {
			transition-property: transform;
		}
		form {
			margin-bottom: 2.3rem;
		}
		> select {
			margin-bottom: 3rem;
		}
		.current-cat > a {
			color: var(--alpha-primary-color, $primary-color);
		}
		.children {
			position: relative;
			width: 100%;
			margin: 1rem 0 -.5rem;
			padding-#{$left}: 2rem;
		}
		.count {
			color: #aaa;
			line-height: 1;
		}
		li {
			padding: 10px 0;
		}

		// For WP Default Widgets
		> ul {
			margin-bottom: 2rem;
		}
		&.widget_calendar {
			margin-bottom: 3rem;
		}
	}
	
	.widget_tag_cloud .tagcloud,
	.widget_text .textwidget {
		margin-bottom: 3rem;
	}

	.children a {
		color: var(--alpha-body-color, $body-color);
	}

	.widget_categories {
		> form {
			margin-bottom: 3rem;
		}
		ul.children {
			font-size: 1.3rem;
		}
	}

	.collapsed ~ * { // updated(925)
		opacity: .1;
	}

	.cat-item {
		position: relative;
		flex-wrap: wrap;
		padding: 1rem 0;

		> a {
			flex: none;
		}
		> .count {
			flex: 1;
			margin-#{$left}: 5px;
		}

		> ul {
			position: relative;
			width: 100%;
			margin: 1rem 0 0;
			padding-#{$left}: 2rem;
		}

		li {
			padding: 5.5px 0;
		}

		> a > i {
			content: '\f068';
			position: absolute;
			top: 9px;
			#{$right}: 0;
			line-height: 0;
			margin-#{$right}: -3px;
			padding: 1rem 5px;
			font-size: 1.1rem;
			font-family: 'Font Awesome 5 Free';
			font-weight: 600;
			transition: transform .3s;
		}
		&.show > a {
			color: var(--alpha-primary-color, $primary-color);

			i {
				transform: rotate(-180deg);
			}
		}
	}

	.children > .cat-item > a > i {
		top: 0;
	}

	.menu {
		li {
			padding: 0;
		}

		li a {
			padding: 0.7rem 0;
		}

		ul {
			padding: 0;
			margin: 0;
		}
	}
}

// Collapsible Widget
.widget-collapsible {
	> .widget-title {
		position: relative;
		cursor: pointer;
		padding: .8rem 0 1.2rem 0;
		margin: 0;
	}
	.dokan-store-open-close {
		margin: 1.3rem 0;
	}

	> ul,
	// dokan compatibility
	.product-cat-stack-dokan#cat-drop-stack,
	.store-cat-stack-dokan#cat-drop-stack {
		padding: .7rem 0;
		margin-top: 0;
		margin-bottom: 1.3rem;
	}
	.dokan-bestselling-product-widget {
		margin-bottom: 2.3rem;
	}

	> ul, > * {
		border-top: none;
	}
	.toggle-btn {
		top: 13px;
		#{$right}: 4px;
		padding: 0;
		width: 12px;
		opacity: 1;

		&::before {
			font-family: $theme-font;
			content: "\e911";
			position: absolute;
			font-size: 1.7rem;
			font-weight: 400;
			transition: transform .3s;
		}
	}
	> .collapsed .toggle-btn::before {
		transform: rotate(180deg);
	}
}

.widget.widget-collapsible {
	> select {
		border: 1px solid #eee;
	}
	> span.select2,
	&.dropdown_product_cat {
		margin: 2rem 0;
	}
}
.widget {
	span.select2-selection--single {
		border-color: #eee;
		height: 4rem;
		>  .select2-selection__rendered {
			line-height: 3.8rem;
		}
		.select2-selection__arrow {
			top: 6px;
		}
	}
}

span.select2-container--default .select2-search--dropdown .select2-search__field,
span.select2-dropdown {
	padding: 6px 18px;
	min-height: 4rem;
	font-size: 1.6rem;
	font-weight: 300;
	border-color: $border-color-light;
}

.collapsed + ul {
	display: none;
}

// Products widget and posts widget in sidebar
.widget > .slider-wrapper:first-child ~ .slider-button {
	display: none;
}
.widget > .slider-wrapper:nth-child(2) ~ .slider-button {
	top: 2.4rem;
}
.widget-products > .slider-wrapper .slider-slide {
	border-top: 1px solid $border-color-light;
	padding-top: 1rem;
}

@media (max-width: 359px) {
	.sidebar .sidebar-content {
		width: 28rem;
	}
	.right-sidebar .sidebar-close {
		left: 1rem;
	}
	.left-sidebar .sidebar-close {
		right: 1rem;
	}
}

// Blog Sidebar
#blog-sidebar {
	.widget-title {
		border-bottom: 1px solid $border-color-light;

		.wt-area {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				bottom: -1.6rem;
				height: 1px;
				background-color: var(--alpha-primary-color, $primary-color);
			}
		}
	}

	.wp-block-group__inner-container {
		& > *:not(.widget-title) {
			padding: .9rem 0;
			margin-bottom: 2.2rem;
		}
	}

	.widget_search:first-child {
		margin-bottom: 4.9rem;
	}

	.widget .widget-title {
		margin-bottom: 1.2rem;
	}

	.wp-block-latest-comments__comment {
		padding-top: .8rem;
		padding-bottom: .9rem;
		margin-bottom: 0;

		a, span {
			font-weight: 400;
		}

		span {
			color: var(--alpha-dim-color, $dim-color);
		}
	}

	.wp-block-latest-comments__comment-date {
		display: inline-block;
		position: relative;
		font-size: inherit;
		vertical-align: middle;

		&:before {
			display: inline-block;
			content: '/';
			margin-right: .5rem;
			margin-left: .5rem;
			vertical-align: middle;
		}
	}

	.widget-posts {
		.widget-title {
			padding: .8rem 0 1.2rem;
		}
		.posts {
			padding: 1.8rem 0 3.2rem;
		}
	}

	.slider-nav-top .slider-button {
		font-size: 2rem;
		top: -3.7rem;
	}
}

// Product Category Sidebar Widget
.product-categories {
	> li.cat-item {
		padding: 0;

		li {
			padding: 4px 0;
		}

		> a {
			display: inline-block;
			padding: 11px 0;
			
			> i {
				top: 9px;
			}
		}
	}
	
	.cat-item a {
		color: var(--alpha-heading-color, $dark-color);
			
		&:hover {
			color: var(--alpha-primary-color, $primary-color);
			text-decoration: none;
		}
	}
}
.sidebar .widget.widget_product_categories .children {
	margin: 0;
	padding-left: 1.3rem;

	&:before {
		position: absolute;
		content: "";
		height: calc( 100% - 16px );
		left: 0;
		top: 50%;
		border-right: 1px solid #e0dede;
		transform: translateY(-50%);
	}
}

// Compatibility with v5.7
.widget_search .form-control {
	border: none;
}